###############################################################################
# OEDON IDENTITY NODE - Hardened SSH
###############################################################################

# --- Connection ---
Port 2222
ListenAddress 0.0.0.0
Protocol 2

# --- Access Security ---
LoginGraceTime 30s
PermitRootLogin no
StrictModes yes
MaxAuthTries 3
MaxSessions 2

# Only you are allowed
AllowUsers your-username

# --- Authentication (KEYS ONLY) ---
# This kills any password brute-force attack attempts
PubkeyAuthentication yes
PasswordAuthentication no
KbdInteractiveAuthentication no
ChallengeResponseAuthentication no
PermitEmptyPasswords no
UsePAM yes

# --- Modern Encryption (Only algorithms that haven't been broken) ---
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes128-gcm@openssh.com
HostKeyAlgorithms ssh-ed25519,rsa-sha2-512,rsa-sha2-256
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256

# --- Tunnel Restrictions ---
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
PermitTunnel no

# --- Session Management ---
ClientAliveInterval 300
ClientAliveCountMax 2
PrintMotd no
AcceptEnv LANG LC_*
Subsystem sftp /usr/lib/openssh/sftp-server
